@import url(css/vars.css);

.page {
  background-color: var(--bg-gray-color);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  max-width: 1200px;
  padding: 60px 15px;
}

.backBtn {
  margin-bottom: 30px;
}

.content {
  margin-bottom: 30px;
  padding: 30px;
  height: 100%;
  border-radius: 5px;
  background-color: white;
}

.title {
  margin: 0 0 40px 0;
}

.text {
  margin: 0;
  font-size: 18px;
}
